:root {
    --header-height: 60px;
    
    --header-color: rgba(255, 255, 255, 0.5);
    --color-bold: #221F20;
    --color-medium: #727272;
    --color-pale: #b2b2b2;
    --color-white: #fff;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

.grid {
    width: 1380px;
    margin: auto;
}

a {
    text-decoration: none;
}

.path {
    margin: 40px 0;
}

.path a,
.path span {
    color: #000;
    font-size: 14px;
    margin-right: 8px;
}

li {
    list-style: none;
}