:root {
    --header-height: 60px;
    
    --header-color: red;
    --color-bold: #221F20;
    --color-medium: #727272;
    --color-white: #fff;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

.grid {
    width: 1380px;
    margin: auto;
}