/* ---------------------------------------------------------<< BEGIN HEADER >>----------------------------------------------------- */
#header {
    background-color: var(--header-color);
    width: 100%;
    height: var(--header-height);
    border-bottom: 1px solid var(--color-pale);
    position: fixed;
    z-index: 100;

    transition: all 0.3s ease-in-out;
}

#header:hover {
    background-color: #fff;
}

.header__container {
    width: 100%;    
    height: var(--header-height);
    display: flex;
    position: relative;
}

.header__left {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__left--category {
    height: var(--header-height);
    margin-right: 12px;
    cursor: pointer;
}


.header__left--category p {
    font-weight: 600;
    font-size: 12px;
    color: var(--color-bold);
    line-height: var(--header-height);
    text-transform: uppercase;
}

.header__left--category:hover ul {
    top: 50px;
    opacity: 1;
    visibility: inherit;
}

.header__left--category ul {
    background-color: #fff;
    width: 1380px;
    position: absolute;
    left: 0px;
    padding: 32px;
    border: 1px solid var(--color-pale);
    
    top: 80px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;

    
    display: flex;
    flex-wrap: wrap;
}

.header__left--category li {
    list-style: none;
    /* width: calc((100% - 32px) / 6); */
    margin: 0 52px 20px 0;
    
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: flex-start;
    align-items: flex-start;
}

.header__left--category a {
    display: block;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    color: var(--color-bold);
    text-decoration: none;
    margin: 8px 0 8px;
    border-bottom: 1px solid #ccc;
    padding: 0;
    line-height: 24px;
}

.header__center {
    width: 20%;
    display: flex;
}

.header__center--logo {
    margin: auto;
}

.header__right {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__right > div:nth-child(2),
.header__right > div:nth-child(3),
.header__right > div:nth-child(4) {
    padding: 0 12px;
    height: calc(var(--header-height) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #ccc;
    cursor: pointer;
}

.header__right a {
    color: var(--color-bold);
    text-decoration: none;
}

.header__right--user {
    position: relative;
}

.header__right--user:hover .header__right--func {
    top: 30px;
    opacity: 1;
    visibility: inherit;
}

.header__right--func {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 60px;
    left: -30px;
    width: 100px;
    background-color: var(--color-white);
    border: 1px solid var(--color-medium);
    padding: 8px;
    transition: all 0.3s ease-in-out;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header__right--func a {
    text-decoration: none;
    margin: 4px 0;
    font-size: 14px;
}

.header__right--search {
    position: relative;
}

.header__right--search i {
    position: absolute;
    top: 6px;
    left: 8px;
    padding-right: 8px;
    border-right: 1px solid #ccc;
    font-size: 12px;
    color: var(--color-bold);
}

.header__right--search input {
    padding: 4px 4px 4px 38px;
    margin-right: 8px;
    width: 166px;
    outline: none;
    border: none;
    border-bottom: 2px  solid #000;
    color: var(--color-bold);
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0);
    color: var(--color-bold);
}

.header__right--search input::placeholder {
    font-size: 13px;
    color: var(--color-bold);
}

.header__footer {
    width: 100%;
    height: var(--header-height);
}

/* ---------------------------------------------------------<< BEGIN SLIDER >>----------------------------------------------------- */
.slider__container {
    margin: 40px 0;
    overflow: hidden;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-right-radius: 4%;
    border-bottom-left-radius: 4%;
    width: 100%;
    height: 562px;

    position: relative; 
}

.slider__container img {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;

    transition: all 0.3s ease-in-out;
}

.slider__dot {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider__dot--item {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #fff  ;
    margin: 6px;
    cursor: pointer;    
}

.slider__dot--item.focus {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #9d9d9d;
}

/* ---------------------------------------------------------< FOOTER >--------------------------------------------------------- */
#footer {
    padding: 40px 0;
    border-top: 1px solid #ccc;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__container h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.footer__container p {
    line-height: 24px;
    font-size: 14px;
    color: var(--color-medium);
    margin-bottom: 16px;
}

.footer__container a {
    font-size: 24px;
    margin-right: 20px;
    cursor: pointer;
}

.footer__container strong {
    color: var(--color-bold);
}

.footer__container p.footer--hotline {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-white);
    padding: 12px;
    width: 100%;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #000;
}

.footer__left {
    flex: 1;
    max-width: 22%;
}

.footer__center {
    flex: 2;
    margin: 0 12px;
    max-width: 45%;

    display: flex;
    justify-content: space-between;
}

.footer__right {
    flex: 1;
    max-width: 22%;
}

.footer__right--sendEmail {
    border: 6px solid #E7E8E9;
    padding: 24px 16px;
    border-radius: 56px 0;

    margin-bottom: 24px;
}

.footer__right--input {
    display: flex;
    
}

.footer__right--input input[type="email"] {
    width: 60%;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0 0 16px 0;
    font-size: 14px;
    color: var(--color-medium);
}

.footer__right--input input[type="submit"] {
    width: 40%;
    font-size: 16px;
    color: var(--color-bold);
    padding: 12px 0;
    background-color: var(--color-white);
    border: 1px solid var(--color-bold);
    outline: none;
    border-radius: 20px 0;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.footer__right--input input[type="submit"]:hover {
    background-color: #000;
    color: #fff;
}

/* -----------------------------------------------------<< LIST PRODUCT >>----------------------------------------------------- */
.list-product__container {
    margin: 40px 0;
    display: flex;
}

.list-product__left {
    width: 20%;
    margin-right: 20px;
}

.list-product__left--item {
    padding: 20px 8px 20px 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.list-product__left--item {
    color: var(--color-bold);
}

.list-product__left--item-top {
    display: flex;
    justify-content: space-between;
}

.list-product__left--item-bottom {
    display: none;
    flex-wrap: wrap;
}

.list-product__left--filter {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.list-product__left--filter input {
    padding: 12px 28px;
    font-size: 16px;
    color: var(--color-white);
    background-color: var(--color-bold);
    outline: none;
    border: 1px solid var(--color-bold);
    border-radius: 20px 0px;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.list-product__left--filter input:hover {
    background-color: var(--color-white);
    color: var(--color-bold);
}

.list-product__size--item {
    position: relative;
    margin-right: 20px;
    margin-top: 16px;
}

.list-product__size input {
    /* transform: scale(2); */
    width: 40px;
    height: 30px;
    border-radius: 12px 2px 12px 2px;
    cursor: pointer;

    appearance: none; /* Loại bỏ giao diện mặc định của checkbox */
    -webkit-appearance: none;
    -moz-appearance: none;

    outline: none; /* Loại bỏ đường viền khi được chọn */
    border: 1px solid #ccc; /* Đặt kiểu đường viền và màu sắc */
}

.list-product__size input:checked {
    border: 1px solid #000;
}

.list-product__size span {
    color: var(--color-bold);
    font-size: 12px;
    position: absolute;
    top: 6px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: -1;
}

.list-product__color--item {
    margin-top: 16px;

    position: relative;
    margin-right: 4px;
}

.list-product__color--item input {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    cursor: pointer;

    appearance: none; /* Loại bỏ giao diện mặc định của checkbox */
    -webkit-appearance: none;
    -moz-appearance: none;

    outline: none; /* Loại bỏ đường viền khi được chọn */
    border: 3px solid #ccc; /* Đặt kiểu đường viền và màu sắc */
}

.list-product__color--item input:checked {
    border: 3px solid var(--color-bold);
}

.list-product__color--item p {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: -1;
}

.list-product__range {
    margin-top: 16px;
}

.list-product__right {
    width: 80%;
}

.list-product__right--top {
    display: flex;
    justify-content: space-between;
    padding: 20px 16px 40px 16px;
}

.list-product__right--center {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.list-product__product {
    width: calc(100% / 4 - 32px);
    background-color: #fafafa;
    margin: 16px 16px;
    border-bottom-right-radius: 12px;
    cursor: pointer;
    
    position: relative;
}

.list-product__product--img img {
    /* width: 100%; */

    height: 360px; /* Cố định chiều cao của ảnh là 360px */
    width: auto; /* Chiều rộng tự động điều chỉnh để giữ tỷ lệ khung hình */
    max-width: 100%; /* Ảnh sẽ không vượt quá kích thước của phần tử chứa nó */
}

.list-product__product--name {
    height: 40px;
    margin: 8px 0;
    width: 100%;

    /* dat gioi han 2 dongf, neu qua 2 dong thi hien "..." */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}

.list-product__product--name h4 {
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-bold);
}

.list-product__product--color {
    width: 50%;
    overflow: hidden;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.list-product__product--color input[class="list-product__color"] {
    display: none;
}

/* Thiết lập kiểu của label để tạo ra một giao diện tương tác như nút radio */
.list-product__product--color input[class="list-product__color"] + label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 0%;
    cursor: pointer;
    border: 1px solid #ccc;

    /* margin-right: 4px; */
    transition: all 0.3s ease-in-out;
}

/* Khi nút radio được chọn, thay đổi kích thước của label */
.list-product__product--color input[class="list-product__color"]:checked + label {
    /* width: 30px; */
    height: 30px;
}

.list-product__product--price {
    display: flex;
    margin-bottom: 8px;
}

.list-product__product--price strong {
    font-size: 16px;
    color: var(--color-bold);
    margin-right: 8px;
}

.list-product__product--price span {
    font-size: 14px;
    font-style: italic;
    color: var(--color-pale);
    text-decoration: line-through;
}

.list-product__product--cart {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 8px 12px;
    background-color: var(--color-bold);
    border: 1px solid #ccc;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;

    transition: all 0.3s ease-in-out;
}

.list-product__product--cart i {
    color: var(--color-white);
    font-size: 12px;

    transition: all 0.3s ease-in-out;
}

.list-product__product--cart:hover {
    background-color: var(--color-white);
}

.list-product__product--cart:hover i {
    color: var(--color-bold);
}

.list-product__product--size {
    opacity: 0;
    visibility: inherit;
    display: none;
    position: absolute;
    bottom: 34px;
    right: 0;
    width: 100px;
    background-color: var(--color-white);
    border: 1px solid #ccc;

    transition: all 0.3s ease-in-out;
}

.list-product__product--size input {
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    width: 100%;
    padding: 8px;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.list-product__product--size input:hover {
    background-color: var(--color-bold);
    color: var(--color-white);
}

.list-product__right--bottom {
    width: 100%;
}

.list-product__right--bottom form {
    margin: 28px 0 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-product__right--bottom input {
    padding: 6px 12px;
    background-color: var(--color-white);
    outline: none;
    border: 1px solid #ccc;
    margin: 0 12px;
    border-radius: 10px 0 10px 0;

    cursor: pointer;
}

.list-product__right--bottom input.focus {
    background-color: var(--color-bold);
    color: var(--color-white);
}

/* -------------------------------------------<< PRODUCT >>----------------------------------------------------------- */
.product__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    transition: all 1s ease-in-out;
}

.product__left {
    width: 50%;
    height: 826px;
    display: flex;
}

.product__img--big {
    width: 80%;
    height: 826px;

    position: relative;
    overflow: hidden;
}

.product__img--big img {
    width: 100%;

    transition: transform 0.3s ease;
    transform-origin: 50% 50%;
    cursor: zoom-in;
}

.product__img--big:hover img {
    transform: scale(1.2);
}

.product__img--small {
    height: 100%;
    width: 20%;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.product__img--small-img {
    height: 90%;
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    position: relative;
}

.product__img--small-img img {
    width: 100%;
    margin-bottom: 12px;
    cursor: pointer;

    position: absolute;
    transition: all 0.3s ease-in-out;
}

.product__img--small span {
    font-size: 20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    color: var(--color-medium);
    text-align: center;
    cursor: pointer;

    z-index: 1;
}

.product__right {
    width: 50%;
    padding-left: 52px;
}

.product__right--top {
    width: 100%;
}

.product__name h1 {
    text-transform: uppercase;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 20px;
}

.product__price {
    margin-bottom: 24px;
}

.product__price strong {
    font-size: 20px;
    color: var(--color-bold);
    margin-right: 8px;
}

.product__price span {
    color: var(--color-pale);
    font-style: italic;
    text-decoration-line: line-through;
}

.product__color {
    margin-bottom: 28px;
}

.product__color p {
    font-size: 16px;
    color: var(--color-bold);
    margin-bottom: 16px;
}

.product__color--item {
    height: 30px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* Ẩn nút radio mặc định */
input[name="color"] {
    display: none;
}

/* Thiết lập kiểu của label để tạo ra một giao diện tương tác như nút radio */
input[name="color"] + label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #ccc;

    /* margin-right: 4px; */
    transition: all 0.3s ease-in-out;
}

/* Khi nút radio được chọn, thay đổi kích thước của label */
input[name="color"]:checked + label {
    width: 30px;
    height: 30px;
}

.product__size {
    margin-bottom: 28px;
}

.product__size input[name="size"] {
    display: none;
}

.product__size input[name="size"] + label {
    font-size: 16px;
    display: inline-block;
    width: 44px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;

    margin-right: 4px;
    transition: all 0.3s ease-in-out;
}

.product__size input[name="size"]:checked + label {
    border: 1px solid #000;
}

.product__quantity {
    margin-bottom: 28px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product__quantity label {
    font-size: 16px;
    color: var(--color-bold);
    margin-right: 20px;
}

.product__quantity--input {
    position: relative;
}

.product__quantity input[type="number"] {
    /* Ẩn các nút tăng giảm trong input type number */
    -moz-appearance: textfield; /* Firefox */

    text-align: center;
    padding: 8px 50px;
    outline: none;
    border: 1px solid var(--color-medium);
    border-radius: 16px 0;
    width: 126px;
}

/* Firefox chưa hỗ trợ thuộc tính appearance nên cần thêm dòng này */
.product__quantity input[type="number"]::-webkit-inner-spin-button,
.product__quantity input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Ẩn các nút tăng giảm trong input type number cho trình duyệt khác */
.product__quantity input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
}

.product__quantity span {
    height: 36px;
    line-height: 36px;
    border: 1px solid var(--color-medium);
    width: 40px;
}

.product__quantity .increment {
    position: absolute;
    right: 0;
    width: 42px;
    border-radius: 0 0 16px 0;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.product__quantity .decrement {
    position: absolute;
    left: 0;
    width: 42px;
    border-radius: 16px 0 0;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.product__action {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.product__action input {
    width: 160px;
    font-size: 16px;
    padding: 16px 28px;
    border: 1px solid var(--color-bold);
    outline: none;
    border-radius: 20px 0;
    margin-right: 20px;

    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.product__action--cart,
.product__action--buy:hover {
    color: var(--color-bold);
    background-color: var(--color-white);
}

.product__action--buy,
.product__action--cart:hover {
    color: var(--color-white);
    background-color: var(--color-bold);
}

.product__right--bottom {
    margin-top: 50px;
    max-height: 180px;
    overflow: hidden;

    transition: max-height 1s ease-in-out;
}

.product__right--bottom-title {
    display: flex;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 20px;
}

.product__right--bottom h1 {
    font-size: 16px;
    border-bottom: 2px solid var(--color-bold);
    color: var(--color-bold);
    font-weight: bold;
    padding: 40px 0 12px;
}

.product__right--bottom p {
    margin-bottom: 20px;
    font-size: 14px;
    color: var(--color-bold);
}

.product__right--collapsible {
    width: 100%;
    border-top: 1px solid var(--color-bold);
    position: relative;

    display: flex;
    justify-content: center;
}

.product__right--collapsible .fa-chevron-down {
    position: absolute;
    border: 1px solid var(--color-bold);
    padding: 4px;
    color: var(--color-bold);
    border-radius: 50%;
    top: -14px;
    background-color: var(--color-white);
    cursor: pointer;
    transition: all 1s ease-in-out;
}


/* ----------------------------------------------<< SIGN IN >>---------------------------------------------------------------- */
.signin {
    margin: 50px 0;
}

.sign__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sign__container h1 {
    font-size: 32px;
    color: var(--color-bold);
    font-weight: bold;
    margin-bottom: 24px;
}

.sign__input {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
    width: 30%;
}

.sign__input p {
    font-size: 14px;
    color: var(--color-bold);
    margin-bottom: 8px;
}

.sign__input span {
    font-size: 12px;
    color: var(--color-medium);
    margin-bottom: 8px;
    font-style: italic;
}

.sign__input a {
    font-size: 12px;
}

.sign__input input {
    outline: none;
    border: 1px solid var(--color-bold);
    padding: 12px 20px;
    border-radius: 16px;
    background-color: var(--color-white);
    font-size: 14px;
}

.sign__input input[type="submit"] {
    background-color: var(--color-bold);
    color: var(--color-white);
    cursor: pointer;
}

/* --------------------------------------<< CART >>------------------------------------------------------------ */
.cart {
    margin: 100px 0;
}

.location {
    margin: auto;
    width: 80%;
    border-top: 1px solid var(--color-bold);
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;

    position: relative;
}

.location i {
    position: absolute;
    top: -20px;
    border: 1px solid var(--color-bold);
    padding: 12px;
    border-radius: 50%;
    background-color: var(--color-white);
}

.location i:nth-child(1) {
    left: 0;
    background-color: #00ffe5;
}

.location i:nth-child(2) {
    left: 32%;
}

.location i:nth-child(3) {
    left: 65%;
}

.location i:nth-child(4) {
    right: 0;
}

.location-customer i:nth-child(2) {
    background-color: #00ffe5;
}

.pay-money .location i:nth-child(2),
.pay-money .location i:nth-child(3) {
    background-color: #00ffe5;
}

.success .location i:nth-child(2),
.success .location i:nth-child(3),
.success .location i:nth-child(4) {
    background-color: #00ffe5;
}

.cart__container {
    display: flex;
}

.cart__left {
    width: 70%;
    border-collapse: collapse;
}

.cart__left td,
.cart__left th {
    border: 1px solid var(--color-bold);
    padding: 8px;
}

.cart__left tr td:nth-child(1) {
    padding: 0;
}

.cart__left img {
    width: 200px;
}

.cart__left a {
    color: #000;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.cart__right {
    width: 30%;
    padding-left: 20px;
}

.cart__right h1 {
    font-size: 20px;
    color: var(--color-bold);
    padding-bottom: 8px;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid var(--color-pale);
}

.cart__right div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.cart__right--input {
    margin-top: 20px;
    padding-top: 12px;
    border-top: 1px solid var(--color-pale);
}

.cart__right--input input {
    width: 100%;
    padding: 12px 12px;
    outline: none;
    border: 1px solid var(--color-bold);
    background-color: var(--color-bold);
    color: var(--color-white);
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.cart__right--input input:hover {
    background-color: var(--color-white);
    color: var(--color-bold);
}

/* ---------------------------------------------------<< LOCATION CUSTOMER >>----------------------------------------------- */
.location-customer {
    margin: 100px 0;
}

.location-customer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location-customer__container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.location-customer__container div {
    width: 30%;
}

.location-customer__container p {
    font-size: 14px;
    color: var(--color-bold);
}

.location-customer__container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    font-size: 14px;
    border: 1px solid var(--color-bold);
}

.location-customer__container input[type="submit"] {
    padding: 12px;
    background-color: var(--color-bold);
    color: var(--color-white);
    outline: none;
    border: 1px solid var(--color-bold);

    transition: all 0.3s ease-in-out;
}

.location-customer__container input[type="submit"]:hover {
    background-color: var(--color-white);
    color: var(--color-bold);
    cursor: pointer;
}

/* ---------------------------------------------------<< PAY MONEY >>----------------------------------------------- */
.pay-money {
    margin: 100px 0;
}

.pay-money__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pay-money__container h1 {
    font-size: 16px;
    color: var(--color-bold);
    margin-bottom: 20px;
}

.pay-money__container div {
    margin-bottom: 12px;
}

.pay-money__container div label {
    font-size: 16px;
    color: var(--color-bold);
}

.pay-money__container input {
    padding: 8px 24px;
    outline: none;
    cursor: pointer;
    border: 1px solid var(--color-bold);
    background-color: var(--color-bold);
    color: var(--color-white);
    border-radius: 14px 0;

    transition: all 0.3s ease-in-out;
}

.pay-money__container input:hover {
    background-color: var(--color-white);
    color: var(--color-bold);
}

/* --------------------------------------------<< SUCCESS >>--------------------------------------------------- */
.success {
    margin: 100px 0;
}

.success__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.success__container h1 {
    font-size: 24px;
    color: var(--color-bold);
}

/* --------------------------------------------<< ORDERS >>--------------------------------------------------- */
.orders {
    margin: 100px 0;
}

.orders table {
    width: 100%;
    border-collapse: collapse;
}

.orders td,
.orders th {
    border: 1px solid var(--color-bold);
}

.orders img {
    width: 200px;
}

.orders a {
    color: var(--color-bold);
    font-size: 20px;
    width: 100%;
    text-align: center;
}

/* ----------------------------------------------<< ADMIN TOP >>-------------------------------------------------------- */
#admin__top {
    width: 100%;
    height: 80px;
    background-color: var(--color-bold);

    position: fixed;
    z-index: 100;
}

.admin__top--container {
    display: flex;
}

.admin__top--container div {
    width: calc(100% / 3);
    height: 80px;
    display: flex;
}

.admin__top--container div a {
    width: 100%;
    text-align: center;
    line-height: 80px;
    color: var(--color-white);
    border: 1px solid var(--color-white);
}

/* ----------------------------------------------<< ORDERS MANAGEMENT >>-------------------------------------------------------- */
#orders__management {
    padding-top: 40px;
    background-color: var(--color-pale);
    width: 100%;
}

.order__management--container {
    display: flex;
    flex-direction: column;
}

#orders__management input[type="submit"] {
    width: 30%;
    margin: auto auto 40px;
    padding: 12px;
    outline: none;
    border: 1px solid var(--color-bold);
    background-color: var(--color-bold);
    color: var(--color-white);
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

#orders__management input[type="submit"]:hover {
    background-color: var(--color-white);
    color: var(--color-bold);
}

#orders__management table {
    border-collapse: collapse;
    width: 100%;
}

#orders__management th,
#orders__management td {
    border: 1px solid var(--color-bold);
}

#orders__management img {
    width: 200px;
}

/* ----------------------------------------------<< ADD CATEGORY >>-------------------------------------------------------- */
.add-category {
    background-color: var(--color-pale);
}

.add-category__container {
    display: flex;
}

.admin__left {
    width: 20%;
    background-color: var(--color-white);
}

.admin__left h1 {
    padding-top: 50px;
    color: var(--color-bold);
    font-size: 20px;
    margin-left: 20px;
}

.admin__left li {
    margin: 12px 0 0 50px;
}

.admin__left a {
    color: var(--color-bold);
}

.admin__right {
    width: 80%;
    padding: 50px 0 0 50px;
}

.admin__right input {
    padding: 8px 12px;
    font-size: 14px;
    outline: none;
    border: 1px solid var(--color-bold);
    color: var(--color-bold);
    background-color: var(--color-white);
}

.admin__right input[type="submit"] {
    background-color: var(--color-bold);
    color: var(--color-white);
    cursor: pointer;
}

/* ----------------------------------------------<< LIST CATEGORY >>-------------------------------------------------------- */
.admin__right table {
    border-collapse: collapse;
}

.admin__right th,
.admin__right td {
    border: 1px solid var(--color-bold);
    padding: 8px;
}

.admin__right form {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.admin__right input,
.admin__right textarea,
.admin__right select {
    margin-bottom: 20px;
}

.admin__right form select {
    padding: 8px;
    font-size: 14px;
}