/* ---------------------------------------------------------<< BEGIN HEADER >>----------------------------------------------------- */
#header {
    background-color: var(--header-color);
    width: 100%;
    height: var(--header-height);
    border-bottom: 1px solid var(--color-pale);
    position: fixed;
    z-index: 100;

    transition: all 0.3s ease-in-out;
}

#header:hover {
    background-color: #fff;
}

.header__container {
    width: 100%;    
    height: var(--header-height);
    display: flex;
}

.header__left {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__left--category {
    height: var(--header-height);
    margin-right: 12px;
    cursor: pointer;
    position: relative;
}


.header__left--category p {
    font-size: 16px;
    color: var(--color-bold);
    line-height: var(--header-height);
}

.header__left--category:hover ul {
    top: 50px;
    opacity: 1;
    visibility: inherit;
}

.header__left--category ul {
    background-color: #fff;
    width: 1380px;
    position: absolute;
    left: 0px;
    padding: 16px;
    border: 1px solid var(--color-pale);
    
    top: 80px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;

    
    display: flex;
    flex-wrap: wrap;
}

.header__left--category li {
    list-style: none;
    width: calc((100% - 32px) / 6);
    margin: 8px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.header__left--category a {
    width: 100%;
    color: var(--color-bold);
    text-decoration: none;
    margin: 0;
    padding: 0;
    line-height: 24px;
}

.header__center {
    width: 20%;
    display: flex;
}

.header__center--logo {
    margin: auto;
}

.header__right {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__right > div:nth-child(2),
.header__right > div:nth-child(3),
.header__right > div:nth-child(4) {
    padding: 0 12px;
    height: calc(var(--header-height) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #ccc;
    cursor: pointer;
}

.header__right i {
    color: var(--color-bold);
}

.header__right--search {
    position: relative;
}

.header__right--search i {
    position: absolute;
    top: 6px;
    left: 8px;
    padding-right: 8px;
    border-right: 1px solid #ccc;
    font-size: 12px;
    color: var(--color-bold);
}

.header__right--search input {
    padding: 4px 4px 4px 38px;
    margin-right: 8px;
    width: 166px;
    outline: none;
    border: none;
    border-bottom: 2px  solid #000;
    color: var(--color-bold);
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0);
    color: var(--color-bold);
}

.header__right--search input::placeholder {
    font-size: 13px;
    color: var(--color-bold);
}

.header__footer {
    width: 100%;
    height: var(--header-height);
}

/* ---------------------------------------------------------<< BEGIN SLIDER >>----------------------------------------------------- */
.slider__container {
    margin: 40px 0;
    overflow: hidden;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-right-radius: 4%;
    border-bottom-left-radius: 4%;
    width: 100%;
    height: 562px;

    position: relative; 
}

.slider__container img {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;

    transition: all 0.3s ease-in-out;
}

.slider__dot {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider__dot--item {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #fff  ;
    margin: 6px;
    cursor: pointer;    
}

.slider__dot--item.focus {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #9d9d9d;
}