/* BEGIN HEADER */
.header {
    background-color: red;
    height: var(--header-height);
}

.header__container {
    width: 100%;    
    height: var(--header-height);
    display: flex;
}

.header__left {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__left--category {
    margin-right: 10px;
    cursor: pointer;
}

.header__left--category p {
    font-size: 16px;
}

.header__center {
    width: 20%;
    display: flex;
}

.header__center--logo {
    margin: auto;
}

.header__right {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

